<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인화면</title>
    <link href="../style/index.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="img">
                <a href="index.html"><img src="../public/charlogo.jpg" width="100px" height="100px"></a>
            </div>
            <div class="nav">
                <a href="overview.html">Overview</a>
                <a href="login.html">Login</a>
                <a href="signup.html">Sign up</a>
            </div>
        </div>
        <div class="main">
            <div class="leftmain">
                <h1>왼쪽 메인화면</h1>
                <p>Character.logo</p>
                <p>Overview.html</p>
            </div>
            <div class="rightmain">
                <h1>오른쪽 메인화면</h1>
                <p>login.html</p>
                <p>signup.html</p>
                <p>account.html</p>
                <p>trade.html</p>
            </div>
        </div>
    </div>
</body>
</html>

