<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인화면</title>
    <link href="../style/index.css" rel="stylesheet">
    <link href="../style/signup.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="img">
                <a href="index.html"><img src="../public/charlogo.jpg" width="100px" height="100px"></a>
            </div>
            <div class="nav">
                <a href="overview.html">Overview</a>
                <a href="login.html">Login</a>
                <a href="signup.html">Sign up</a>
            </div>
        </div>
        <div class="main">
            <div class="leftmain">
                <h1>왼쪽 메인화면</h1>
                <h2>This is SignUpPage!!</h2>
                <ul>
                    <li>뭐채울지 생각</li>
                    <li>아이디 원래 DB확인후 중복이면, 회원가입 실패!</li>
                </ul>
            </div>
            <div class="rightmain">
                <h1>오른쪽 메인화면</h1>
                <section>
                    <div class="formbox">
                        <div class="formvalue">
                            <form action="">
                                <h2>Sign up</h2>
                                <div class="inputbox">
                                    <label for="">Username</label>
                                    <input type="id" required>
                                </div>
                                <div class="inputbox">
                                    <label for="">Password</label>
                                    <input type="password" required>
                                </div>
                                <div class="inputbox">
                                    <label for="">Password again</label>
                                    <input type="password" required>
                                </div>
                                <button>Sign up</button>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>

