body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper{
    width: 80%;
    min-height: 80vh;
    background-color: red; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    width:85%;
    height: 15%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.img{
    width: 15%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav{
    width: 35%;
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    font-size: 1.25rem;
    text-transform:uppercase;
    margin-top: 20px;
}

.main{
    width:85%;
    height: 75%;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;

}

.leftmain{
    width: 50%;
    background-color: blueviolet;
}

.rightmain{
    width: 50%;
    background-color: burlywood;
}