.account_wrapper {
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

hr{
    position: absolute;
    left: 32%;
    width: 580px;
    height : 1px;
    background-color : #4CAF50;;
    border : none;
}

.account_table{
    position: absolute;
    margin-top: 30px;
    left: 550px;
    width: 430px;
    height: 320px;
}

.account_table td{
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.account_table .yours{
    text-align: left;
}

.account_table .mc{
    text-align: right;
}

#deposit {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

#withdraw {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

#deposit:hover {
    background-color: #45a049;
}

#withdraw:hover {
    background-color: rgba(223, 2, 2, 0.718);
}