@charset "UTF-8";

body{
  font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", sans-serif;
  line-height: 1.7;
  color: #432;
  display: flex;
}

img{
  max-width: 100%;
}

.logo{
  width: 210px;
  margin-top: 14px;
}

.page-header{
  display:flex;
  justify-content:space-between;
}

.main-nav{
  /* display: flex; 속성은 Flexbox 레이아웃을 생성하기 위해 사용.
  Flexbox는 요소들을 가로 또는 세로 축을 기준으로 정렬하고 배치하는 기능을 제공
  기본적으로는 가로 축을 기준으로 정렬*/
  display: flex;
  font-size: 1.25rem;
  text-transform:uppercase;
  list-style:none;
  position: absolute;
  top: 34px;
  right: 200px;
}

.main-nav li{
  margin-left:36px;
}

.main-nav a{
  color:#432;
}

.main-nav a:hover{
  color: #0bd;
}

.h1_logo{
  position: absolute;
  top: 10px;
  left: 100px;
}

.trading_main{
  justify-content: center;
  position: relative;
  top: 200px;
  left: 100px;
}

.account_div{
  position: relative;
  top: 100px;
}
