<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Software Engineering Term Project">
        <title>overview</title>

        <!--CSS-->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
        <link href="../static/css/index.css" rel="stylesheet">
        <link href="../static/css/overview.css" rel="stylesheet">

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['time', 'price'],
          ['11H',  1000],
          ['12H',  1170],
          ['13H',  660],
          ['14H',  1030]
          // 이 부분 더 늘리자
        ]);

        var options = {
          title: 'Coin Price Chart',
          curveType: 'function',
          legend: 'none' // 범례 숨기기
        };

        var chart = new google.visualization.LineChart(document.getElementById('price_chart'));

        chart.draw(data, options);
      }
        </script>
    </head>
    <body>
        <div id="home" class="big-bg">
            <header class="page-header wrapper">
                <h1><a href="{{ url_for('okindex',username=username) }}"><img class="logo" src="../static/images//binanceLogo.jpeg"
                            alt="마켓 홈"></a></h1>
                <nav>
                    <ul class="main-nav">
                      <li><a href="{{ url_for('trading',username=username) }}">Trading</a></li>
                        <li><a href="{{ url_for('account',username=username) }}">Account</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a>
                    </ul>
                </nav>
            </header>
            <div class="home-content wrapper">
              <div class="overviewWrapper">
                <div class="history">
                    <table class="history_table">
                      <tr>
                        <th class="price_th">Last Price</th> <!-- flask나 mongodb에서 시간 계산하는거 있으면 그걸 통해서 가장 최근 거래 가격 표시 -->
                        <th class="change_th">Change</th> <!-- 여기서 trading 페이지에서 거래했던 가격을 통해 %로 + - 표시 -->
                      </tr>
                      {% if history %}
                        {% for k,v in priceAndChange.items() %}
                          <tr>
                            <td class="price_td">{{k}}</td>
                            <td class="change_td">{{v}}%</td>
                          </tr>
                        {% endfor %}
                      {% endif %}
                    </table>
                </div>
                <div class="priceChart" id="price_chart"></div> 
              </div>
          </div><!-- /.home-content-->
        </div><!-- /#home -->
    </body>

</html>
