<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Software Engineering Term Project">
        <title>overview</title>

        <!--CSS-->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
        <link href="../static/css/index.css" rel="stylesheet">
        <link href="../static/css/overview.css" rel="stylesheet">

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
          // 스크립트 내에서 전달된 컬렉션 사용
          var history = '{{ history }}';
        
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
        
          function drawChart() {
            // 컬렉션을 기반으로 데이터 배열 생성
            var data = google.visualization.arrayToDataTable(history);
        
            // 차트 옵션 설정
            var options = {
              title: 'My Chart',
              curveType: 'function',
              legend: 'none'
            };
        
            // 차트 인스턴스 생성
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        
            // 차트 그리기
            chart.draw(data, options);
          }
        </script>        
    </head>
    <body>
        <div id="home" class="big-bg">
            <header class="page-header wrapper">
                <h1><a href="{{ url_for('okindex',username=username) }}"><img class="logo" src="../static/images/mareketLogo.jpeg"
                            alt="마켓 홈"></a></h1>
                <nav>
                    <ul class="main-nav">
                      <li><a href="{{ url_for('login') }}">로그인해줘</a>
                      <li><a href="{{ url_for('signup') }}">Sign up</a></li>
                    </ul>
                </nav>
            </header>
            <div class="home-content wrapper">
              <div class="overviewWrapper">
                <div class="history">
                    <table class="history_table">
                      <tr>
                        <th class="price_th">Last Price</th> <!-- flask나 mongodb에서 시간 계산하는거 있으면 그걸 통해서 가장 최근 거래 가격 표시 -->
                        <th class="change_th">Change</th> <!-- 여기서 trading 페이지에서 거래했던 가격을 통해 %로 + - 표시 -->
                      </tr>
                      {% if history %} <!-- 거래 내역이 있다면 -->
                        {% for v in priceAndChange.values() %}
                          <tr>
                            <td class="price_td">{{v[0]}}</td>
                            <td class="change_td">{{v[1]}}%</td>
                          </tr>
                        {% endfor %}
                      {% endif %}
                    </table>
                </div>
                <div id="chart_div"></div>
              </div>
          </div><!-- /.home-content-->
        </div><!-- /#home -->
    </body>
</html>