<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Software Engineering Term Project">
        <title>overview</title>

        <!--CSS-->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
        <link href="../static/css/index.css" rel="stylesheet">
        <link href="../static/css/overview.css" rel="stylesheet">

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
                    // MongoDB 드라이버를 사용하여 데이터베이스에 연결
          const { MongoClient } = require('mongodb');
          const url = 'mongodb+srv://peng2412:!jhy05744715@cluster0.qsv8zhv.mongodb.net/test'; // MongoDB 서버 주소
          const dbName = 'test'; // 데이터베이스 이름
          const collectionName = 'history'; // 컬렉션 이름

          // MongoDB에서 데이터 가져오기
          MongoClient.connect(url, (err, client) => {
            if (err) throw err;
            console.log('Connected to MongoDB server');

            const db = client.db(dbName);
            const collection = db.collection(collectionName);

            collection.find({}).toArray((err, data) => {
              if (err) throw err;
              // 데이터를 가공하여 dataFromMongoDB에 할당
              const dataFromMongoDB = data.map(item => ({ order: item.order, price: item.currentprice }));

              // 이후 Google Charts를 사용하여 데이터를 표현하는 코드 작성
              // Google Charts 로드
              google.charts.load('current', {'packages':['corechart']});

              // Google Charts 로드 후 실행할 함수 정의
              google.charts.setOnLoadCallback(drawChart);

              // 차트를 그리는 함수
              function drawChart() {
                // MongoDB에서 데이터 가져오기
                const xhr = new XMLHttpRequest();
                xhr.open('GET', '/api/dataFromMongoDB', true);
                xhr.onload = function() {
                  // 데이터 가공
                  const data = JSON.parse(xhr.responseText);
                  const chartData = [['Date', 'Value']];
                  for (let i = 0; i < data.length; i++) {
                    chartData.push([new Date(data[i].date), data[i].value]);
                  }

                  // Google Chart 데이터 형식으로 변환
                  const chartDataTable = google.visualization.arrayToDataTable(chartData);

                  // Line Chart 옵션 설정
                  const options = {
                    title: 'My Chart',
                    curveType: 'function',
                    legend: 'none' // 범례 숨기기
                  };

                  // Line Chart 그리기
                  const chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                  chart.draw(chartDataTable, options);
                };
                xhr.send();
              }
            });
          });
        </script>
    </head>
    <body>
        <div id="home" class="big-bg">
            <header class="page-header wrapper">
                <h1><a href="{{ url_for('okindex',username=username) }}"><img class="logo" src="../static/images/mareketLogo.jpeg"
                            alt="마켓 홈"></a></h1>
                <nav>
                    <ul class="main-nav">
                      <li><a href="{{ url_for('login') }}">로그인해줘</a>
                      <li><a href="{{ url_for('signup') }}">Sign up</a></li>
                    </ul>
                </nav>
            </header>
            <div class="home-content wrapper">
              <div class="overviewWrapper">
                <div class="history">
                    <table class="history_table">
                      <tr>
                        <th class="price_th">Last Price</th> <!-- flask나 mongodb에서 시간 계산하는거 있으면 그걸 통해서 가장 최근 거래 가격 표시 -->
                        <th class="change_th">Change</th> <!-- 여기서 trading 페이지에서 거래했던 가격을 통해 %로 + - 표시 -->
                      </tr>
                      {% if history %} <!-- 거래 내역이 있다면 -->
                        {% for k,v in priceAndChange.items() %}
                          <tr>
                            <td class="price_td">{{k}}</td>
                            <td class="change_td">{{v}}%</td>
                          </tr>
                        {% endfor %}
                      {% endif %}
                    </table>
                </div>
                <div id="chart_div"></div>
              </div>
          </div><!-- /.home-content-->
        </div><!-- /#home -->
    </body>
</html>