<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <!--CSS-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
</head>
<body>
    <div id="home" class="big-bg">
        <header class="page-header wrapper">
            <h1><a href="{{ url_for('index') }}"><img class="logo" src="../static/images/mareketLogo.jpeg"
                        alt="WCB 마켓 홈"></a></h1>
            <nav>
                <ul class="main-nav">
                    <div> 
                    </div>
                    <div id="menu_tab">
                        <li><a href="{{ url_for('login') }}">Login</a>
                    </div>
                    <div id="menu_tab">
                    <li><a href="{{ url_for('signup') }}">Sign up</a></li>
                    </div>
                </ul>
            </nav>
        </header>
        <!-- 로그아웃 시, flash("로그아웃 하였습니다.")  -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script>
            alert('{{ messages[0] }}');
        </script>
        {% endif %}
        {% endwith %}
        <section>
            <div class="formbox">
                <div class="formvalue">
                    <form action="{{ url_for('signup') }}" method="POST">
                        <div class="inputbox">
                            <img class="user_img" src="../static/images/user.png">
                            <input type="text" id="username" name="username">
                        </div>
                        <div class="inputbox">
                            <img class="pw_img" src="../static/images/padlock.png">
                            <input type="password" id="password" name="password">
                        </div>
                        <div class="inputbox">
                            <img class="confirm_img" src="../static/images/check-mark.png">
                            <input type="password" id="comfirm_password" name="password">
                        </div>
                        <button>Sign up</button>
                    </form>
                </div>
            </div>
    </div>
    </section>
    </div>
</body>
</html>