<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading page</title>
  </head>
  <!--
    1. 마켓플레이스에서 하는 거래 내용
    ㄴ 그 전에 서버에 저장되어 있는 코인 마켓의 보유 코인을 보여줘야 함
    2. 유저 간의 거래 내용
    ㄴ 판매 게시물

    따로 섹션 나눠서 해야될 듯!
-->
  <body>
    <!--
      화면의 반은 코인 마켓 section
      나머지 반은 판매 게시글 section

      코인 마켓 section에선
      위에 코인 마켓의 보유 코인
      밑에 구매하기 버튼

      판매 게시글 section에선
      위에 스크롤 되는 판매 게시글들 모음 (div로 하고 overflow 쓰자)
      ㄴ 그리고 판매 게시글 제목을 <a> 태그로 하고 클릭하면 게시글로 들어갈 수 있게 하자
      밑에 판매 게시글 작성 버튼
    -->
    <div class="coin_market">

    </div>
    <div class="sale_post">
      
    </div>
  </body>
</html>