<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading page</title>
    <script>
      function market_trading(){
        var marketCoin=prompt('구매하실 코인 개수를 입력하세요');
        if (marketCoin!==null){
          var form=document.createElement('form');
          form.method='POST';
          form.action='/market_trading/{{username}}';

          var input=document.createElement('input');
          input.type = 'hidden';
          input.name = 'market_trading'; // 구매할 코인 개수
          input.value = marketCoin; 
          // prompt에서 입력한 개수가 marketCoin으로 들어가고
          // 그게 input 값으로 들어가려면 input.value=marketCoin을 꼭 해줘야 함

          // 이 순서로 해야됨 (form에 input 넣고 그 form을 document에 넣기)
          form.appendChild(input); // 폼에 input 엘리먼트 추가
          document.body.appendChild(form); // 폼을 문서에 추가
          form.submit();
        }
      }
      
      function making_post(){
        // prompt로 판매 코인 개수, 개당 코인 가격 기입하게 하기 (input 2개)
        var userPost=prompt('판매하실 코인의 개수와 가격을 입력하세요');
        if(userPost!=null){
          var form=document.createElement('form');
          form.method='POST';
          form.action='/making_post/{{username}}'

          var input=document.createElement('input');
          
        }
      }
    </script>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <link href="../static/css/trading.css" rel="stylesheet">
  </head>
  <body>
    <!-- 이걸 해야 flash가 뜸 -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <script>
            alert('{{ messages[0] }}');
        </script>
        {% endif %}
    {% endwith %}
    <!--
      화면의 반은 코인 마켓 section
      나머지 반은 판매 게시글 section

      코인 마켓 section에선
      위에 코인 마켓의 보유 코인
      밑에 구매하기 버튼

      판매 게시글 section에선
      위에 스크롤 되는 판매 게시글들 모음 (div로 하고 overflow 쓰자)
      ㄴ 그리고 판매 게시글 제목을 <a> 태그로 하고 클릭하면 게시글로 들어갈 수 있게 하자
      밑에 판매 게시글 작성 버튼
    -->
    <header>
      <h1 class="h1_logo"><a href="{{ url_for('okindex',username=username) }}"><img class="logo" src="../static/images//binanceLogo.jpeg" alt="마켓 홈"></a></h1>
      <nav>
        <ul class="main-nav">
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="trading_main_market">
        <div class="market_trading">
          <h1>Coin Market</h1><br>
          <h2>Market Coin : {{market_coin}}</h2>
          <br><br>
          <button class="market_buy" onclick="market_trading()">구매 하기</button>
        </div>

        <div class="account_div">
          <h2>Account money : {{money.money}}</h2>
          <h2>Account coin : {{coin.coin}}</h2>
        </div>
      </div>
      <div class="trading_main_post">
        <div class="user_trading"> <!-- 판매 게시글의 큰 틀 div -->
          <!-- 여기에 if문으로 게시글이 있다면 밑의 sale_post div 실행하게끔 -->
            <div class="sale_post"> <!-- 게시글 작성하면 여기로 다 올라감, 그리고 overflow 쓰자 -->
              <!-- 게시글엔 판매 코인 개수, 개당 코인 가격 게시 -->
            </div>
            <!-- 여기에 구매(게시글) 버튼 -->
        </div>
        <button class="add_post" onclick="making_post()">게시글 작성</button>
      </div>
    </main>
  </body>
</html>